<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Shop-Grid | Bookshop Responsive Bootstrap4 Template</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicons -->
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/icon.png">

<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
	rel="stylesheet">

<!-- Stylesheets -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/plugins.css">
<link rel="stylesheet" href="style.css">

<!-- Cusom css -->
<link rel="stylesheet" href="css/custom.css">

<!-- Modernizer js -->
<script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">

		<!-- Header -->
		<header id="wn__header"
			class="oth-page header__area header__absolute sticky__header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-7 col-lg-2">
						<div class="logo">
							<a href="index.html"> <img src="images/logo/logo.png"
								alt="logo images">
							</a>
						</div>
					</div>
					<div class="col-lg-8 d-none d-lg-block">
						<nav class="mainmenu__nav">
							<ul class="meninmenu d-flex justify-content-start">
								<li class="drop with--one--item"><a href="index.html">Home</a></li>
								<li class="drop"><a href="#">Shop</a>
									<div class="megamenu mega03">
										<ul class="item item03">
											<li class="title">Shop Layout</li>
											<li><a href="shop-grid.html">Shop Grid</a></li>
											<li><a href="single-product.html">Single Product</a></li>
										</ul>
										<ul class="item item03">
											<li class="title">Shop Page</li>
											<li><a href="my-account.html">My Account</a></li>
											<li><a href="cart.html">Cart Page</a></li>
											<li><a href="checkout.html">Checkout Page</a></li>
											<li><a href="wishlist.html">Wishlist Page</a></li>
											<li><a href="error404.html">404 Page</a></li>
											<li><a href="faq.html">Faq Page</a></li>
										</ul>
										<ul class="item item03">
											<li class="title">Bargain Books</li>
											<li><a href="shop-grid.html">Bargain Bestsellers</a></li>
											<li><a href="shop-grid.html">Activity Kits</a></li>
											<li><a href="shop-grid.html">B&N Classics</a></li>
											<li><a href="shop-grid.html">Books Under $5</a></li>
											<li><a href="shop-grid.html">Bargain Books</a></li>
										</ul>
									</div></li>
								<li class="drop"><a href="shop-grid.html">Books</a>
									<div class="megamenu mega03">
										<ul class="item item03">
											<li class="title">Categories</li>
											<li><a href="shop-grid.html">Biography </a></li>
											<li><a href="shop-grid.html">Business </a></li>
											<li><a href="shop-grid.html">Cookbooks </a></li>
											<li><a href="shop-grid.html">Health & Fitness </a></li>
											<li><a href="shop-grid.html">History </a></li>
										</ul>
										<ul class="item item03">
											<li class="title">Customer Favourite</li>
											<li><a href="shop-grid.html">Mystery</a></li>
											<li><a href="shop-grid.html">Religion & Inspiration</a></li>
											<li><a href="shop-grid.html">Romance</a></li>
											<li><a href="shop-grid.html">Fiction/Fantasy</a></li>
											<li><a href="shop-grid.html">Sleeveless</a></li>
										</ul>
										<ul class="item item03">
											<li class="title">Collections</li>
											<li><a href="shop-grid.html">Science </a></li>
											<li><a href="shop-grid.html">Fiction/Fantasy</a></li>
											<li><a href="shop-grid.html">Self-Improvemen</a></li>
											<li><a href="shop-grid.html">Home & Garden</a></li>
											<li><a href="shop-grid.html">Humor Books</a></li>
										</ul>
									</div></li>
								<li class="drop"><a href="shop-grid.html">Kids</a>
									<div class="megamenu mega02">
										<ul class="item item02">
											<li class="title">Top Collections</li>
											<li><a href="shop-grid.html">American Girl</a></li>
											<li><a href="shop-grid.html">Diary Wimpy Kid</a></li>
											<li><a href="shop-grid.html">Finding Dory</a></li>
											<li><a href="shop-grid.html">Harry Potter</a></li>
											<li><a href="shop-grid.html">Land of Stories</a></li>
										</ul>
										<ul class="item item02">
											<li class="title">More For Kids</li>
											<li><a href="shop-grid.html">B&N Educators</a></li>
											<li><a href="shop-grid.html">B&N Kids' Club</a></li>
											<li><a href="shop-grid.html">Kids' Music</a></li>
											<li><a href="shop-grid.html">Toys & Games</a></li>
											<li><a href="shop-grid.html">Hoodies</a></li>
										</ul>
									</div></li>
								<li class="drop"><a href="#">Pages</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											<li><a href="about.html">About Page</a></li>
											<li class="label2"><a href="portfolio.html">Portfolio</a>
												<ul>
													<li><a href="portfolio.html">Portfolio</a></li>
													<li><a href="portfolio-details.html">Portfolio
															Details</a></li>
												</ul></li>
											<li><a href="my-account.html">My Account</a></li>
											<li><a href="cart.html">Cart Page</a></li>
											<li><a href="checkout.html">Checkout Page</a></li>
											<li><a href="wishlist.html">Wishlist Page</a></li>
											<li><a href="error404.html">404 Page</a></li>
											<li><a href="faq.html">Faq Page</a></li>
											<li><a href="team.html">Team Page</a></li>
										</ul>
									</div></li>
								<li class="drop"><a href="blog.html">Blog</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											<li><a href="blog.html">Blog Page</a></li>
											<li><a href="blog-details.html">Blog Details</a></li>
										</ul>
									</div></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<!-- //Header -->

		<div
			class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-12 order-1 order-lg-2 wn__sidebar">
						<!-- End Bradcaump area -->
						<!-- Start Shop Page -->
						<aside class="widget search_widget">
							<h3 class="widget-title">Search Product</h3>
							<form action="/shop-grid.html" method="get">
								<div class="form-input">
									<input type="text" name="query"
										th:value="${searchCriterias.query}"
										placeholder="Search full-text...">
									<button type="submit">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</form>

							<form action="/shop-grid.html" method="get" class="mt--20">
								<div class="form-input">
									<input type="text" name="name"
										th:value="${searchCriterias.name}"
										placeholder="Search by name...">
									<button type="submit">
										<i class="fa fa-search"></i>
									</button>
								</div>


							</form>
							
							<form action="/shop-grid.html" method="get" class="mt--20">
								<div class="form-input">
									<select name="category">
										<option th:selected="${searchCriterias.category==null}"
											value="">--Select--</option>
										<option
											th:selected="${searchCriterias.category!=null && searchCriterias.category.toString()=='ELECTRONIC'}"
											value="ELECTRONIC">Electronic</option>
										<option th:selected="${searchCriterias.category!=null && searchCriterias.category.toString()=='COMPUTER'}"
											value="COMPUTER">Computer</option>
										<option th:selected="${searchCriterias.category!=null && searchCriterias.category.toString()=='FAMILY'}"
											value="FAMILY">Family</option>
										<option th:selected="${searchCriterias.category!=null && searchCriterias.category.toString()=='COMPUTER'}"
											value="COMPUTER">Computer</option>
										<option th:selected="${searchCriterias.category!=null && searchCriterias.category.toString()=='FOOD'}"
											value="FOOD">Food</option>
									</select>
									<button type="submit">
										<i class="fa fa-search"></i>
									</button>
								</div>

							</form>
						</aside>
					</div>
					<div class="col-lg-12 col-12 order-1 order-lg-2">
						<div class="row">
							<div class="col-lg-12">
								<div
									class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
									<div class="shop__list nav justify-content-center"
										role="tablist">
										<a class="nav-item nav-link active" data-toggle="tab"
											href="#nav-list" role="tab"> <i class="fa fa-list"> </i>
										</a>
									</div>
									<p
										th:text="${'Showing ' + searchResults.getTotalElements() + ' results'}"></p>

								</div>
							</div>
						</div>
						<div class="tab__container">
							<div class="shop-grid tab-pane fade show active" id="nav-list"
								role="tabpanel">
								<div class="list__view__wrapper">
									<!-- Start Single Product -->
									<div th:each="product : ${searchResults.getContent()}"
										class="list__view mt--40">
										<div class="thumb">
											<a class="first__img" href="single-product.html"> <img
												src="images/product/1.jpg" alt="product images">
											</a>
											<!--  <a class="second__img animation1"
												href="single-product.html"> <img
												src="images/product/2.jpg" alt="product images">
											</a> -->
										</div>
										<div class="content">
											<h2>
												<a href="single-product.html" th:utext="${product.name}">Ali
													Smith</a>
											</h2>
											<ul class="rating d-flex">
												<li th:each="i: ${#numbers.sequence(1, product.meanRating)}"
													class="on"><i class="fa fa-star-o"></i></li>
												<li
													th:each="i: ${#numbers.sequence(1, 5 - product.meanRating)}"><i
													class="fa fa-star-o"></i></li>
											</ul>
											<ul class="prize__box">
												<li th:text="${product.price}">$111.00</li>
												<li th:text="${product.price}" class="old__prize">$220.00</li>
											</ul>
											<p th:utext="${product.description}">Lorem ipsum dolor
												sit amet, consectetur adipiscing elit. Nam fringilla augue
												nec est tristique auctor. Donec non est at libero vulputate
												rutrum. Morbi ornare lectus quis justo gravida semper. Nulla
												tellus mi, vulputate adipiscing cursus eu, suscipit id
												nulla.</p>
											<!-- <ul class="cart__action d-flex">
												<li class="cart"><a href="cart.html">Add to cart</a></li>
												<li class="wishlist"><a href="cart.html"></a></li>
												<li class="compare"><a href="cart.html"></a></li>
											</ul> -->

										</div>
									</div>
								</div>
								<ul class="wn__pagination">
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Shop Page -->
		<!-- Footer Area -->
		<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
			<div class="footer-static-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="footer__widget footer__menu">
								<div class="ft__logo">
									<a href="index.html"> <img src="images/logo/3.png"
										alt="logo">
									</a>
									<p>There are many variations of passages of Lorem Ipsum
										available, but the majority have suffered duskam alteration
										variations of passages</p>
								</div>
								<div class="footer__content">
									<ul
										class="social__net social__net--2 d-flex justify-content-center">
										<li><a href="#"><i class="bi bi-facebook"></i></a></li>
										<li><a href="#"><i class="bi bi-google"></i></a></li>
										<li><a href="#"><i class="bi bi-twitter"></i></a></li>
										<li><a href="#"><i class="bi bi-linkedin"></i></a></li>
										<li><a href="#"><i class="bi bi-youtube"></i></a></li>
									</ul>
									<ul class="mainmenu d-flex justify-content-center">
										<li><a href="index.html">Trending</a></li>
										<li><a href="index.html">Best Seller</a></li>
										<li><a href="index.html">All Product</a></li>
										<li><a href="index.html">Wishlist</a></li>
										<li><a href="index.html">Blog</a></li>
										<li><a href="index.html">Contact</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright__wrapper">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="copyright">
								<div class="copy__right__inner text-left">
									<p>
										Copyright <i class="fa fa-copyright"></i> <a
											href="https://freethemescloud.com/">Free themes Cloud.</a>
										All Rights Reserved
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="payment text-right">
								<img src="images/icons/payment.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/active.js"></script>

</body>
</html>